<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Khand" rel="stylesheet">
  </head>

  <body>

    <nav id="navigation">
      <ul class="centerUL">
        <li>
          <a href="#team">Der Verein</a>
        </li>

        <li>
          <a href="#members">Mitglieder</a>
        </li>

        <li>
          <a href="#contact">Kontakt</a>
        </li>
      </ul>



      <!--
      <div class="container">
        <nav class="main-nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog.html">Blog</a></li>
          </ul>
        </nav>
        <h1><a href="/">Bakery<strong>Store</strong></a></h1>
      </div>
      -->
    </nav>

    <div class="content">
      {{ content }}
    </div>

    <!--
    <footer>
      <div class="container">
        <p class="center-text"> <a href="http://cloudcannon.com">Created by CloudCannon</a></p>
      </div>
    </footer>
  -->
  </body>
</html>