<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png"/>

    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Khand" rel="stylesheet">
    <script src="js/smoothscroll.js" type="text/javascript"></script>
  </head>

  <body>

    <div id="navigation">
      <div class="logo-frame">
        <a href="#home"><img class="logo" src="assets/images/logo-white-simple.png"></a>
      </div>
      <div class="container">
        <ul class="centerUL">
          <li>
            <a href="#club">Der Verein</a>
          </li>

          <li>
            <a href="#members">Mitglieder</a>
          </li>

          <li>
            <a href="#contact">Kontakt</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="content">
      {{ content }}
    </div>

    <!--
    <footer>
      <div class="container">
        <p class="center-text"> <a href="http://cloudcannon.com">Created by CloudCannon</a></p>
      </div>
    </footer>
  -->
  </body>
</html>